.control-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  background-color: #293241;
  justify-content: center;
}

.episode-control {
  flex: 1;
  color: #e0fbfc;
  font-family: monospace;
  font-size: 16px;
  overflow: scroll;
}

.button {
  text-align: center;
  background-color: #3d5a80;
  color: #fff;
  padding: 5px;
  margin: 6px;
  cursor: pointer;
}

.button.disabled {
  background-color: #666;
  color: #999;
  cursor: inherit;
}

.episode-entry {
  border-bottom: 1px solid #e0fbfc;
  padding: 3px;
  position: relative;
}

.episode-entry.active {
  color: #ee6c4d;
}

.episode-entry.watched {
  color: #999;
}

.icon {
  position: absolute;
  bottom: 6px;
  cursor: pointer;
}

.icon.pause {
  width: 8px;
  height: 14px;
  border-color: #e0fbfc;
  border-style: double;
  border-width: 0px 0px 0px 10px;
  right: 0px;
}

.icon.play {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 6px 0px 6px 12px;
  border-color: transparent transparent transparent #e0fbfc;
  right: 6px;
  display: none;
}

.episode-entry:hover .icon.play,
.icon.paused {
  display: block;
}
