.control-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  background-color: #293241;
  justify-content: center;
}

.episode-control {
  flex: 1;
  color: #e0fbfc;
  font-family: monospace;
  font-size: 16px;
  overflow: scroll;
}

.button {
  text-align: center;
  background-color: #3d5a80;
  color: #fff;
  padding: 5px;
  margin: 6px;
  cursor: pointer;
}

.button.disabled {
  background-color: #666;
  color: #999;
  cursor: inherit;
}

.episode-entry {
  border-bottom: 1px solid #e0fbfc;
  padding: 3px;
}

.episode-entry.active {
  color: #ee6c4d;
}

.episode-entry.watched {
  color: #999;
}
