.tictactoe-game {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #222, #555);
  height: 100%;
  width: 100%;
}

.tictactoe-board {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  padding: 5px;
  border: 1px solid #e4e4e4;
}

.tictactoe-row {
  display: flex;
  flex: 1;
}

.tictactoe-square {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid #e4e4e4;
  text-align: center;
  color: #e4e4e4;
  font-weight: 250;
}

.tictactoe-square .spacer {
  flex: 1;
}
