.tictactoe-game {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #293241, #3d5a80);
  height: 100%;
  width: 100%;
}

.tictactoe-board {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  padding: 5px;
  border: 1px solid #e0fbfc;
}

.tictactoe-row {
  display: flex;
  flex: 1;
}

.tictactoe-square {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid #e0fbfc;
  text-align: center;
  color: #e0fbfc;
  font-weight: 250;
}

.tictactoe-square .spacer {
  flex: 1;
}

.tictactoe-square span {
  transition: all 0.25s;
}

.tictactoe-square .active-move {
  color: #ee6c4d;
}

.tictactoe-square .illegal-move {
  filter: brightness(0.2);
}

.tictactoe-visor {
  position: absolute;
  top: 10px;
  right: 10px;
}

.tictactoe-warning {
  color: red;
  font-size: 14px;
}
